@import "mocha.css";

* {
    font-size: 17;
    font-weight: bold;;
}

#window {
    margin: 8px;
}

window#waybar {
	background: @base;
	color: @crust;
}

#custom-right-arrow-dark,
#custom-left-arrow-dark {
	color: @lavender;
}
#custom-right-arrow-light,
#custom-left-arrow-light {
	color: @base;
	background: @lavender;
}

#workspaces,
#clock.1,
#clock.2,
#clock.3,
#pulseaudio,
#memory,
#cpu,
#battery,
#custom-power,
#network,
#custom-spotify,
#disk{
	background: @lavender;
}

#workspaces {
    background: @lavender;
}

#workspaces button {
	padding: 0 2px;
	color: @warning;;
}
#workspaces button.focused {
	color: #268bd2;
}
#workspaces button:hover {
	box-shadow: inherit;
	text-shadow: inherit;
}
#workspaces button:hover {
	background: @green;
    color: @crust;
	padding: 0 3px;
}

#pulseaudio,
#memory,
#cpu,
#battery,
#network,
#disk {
	color: @crust;
}

#custom-power {
	background: @red;
}

#clock,
#pulseaudio,
#memory,
#cpu,
#battery,
#custom-power,
#network,
#disk {
	padding: 0 10px;
}